<div class="clearfix col-xs-12">
    <!--后端技术选型Start-->
    <div class="alert alert-block alert-success col-xs-6">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <p><h5>后端技术选型</h5></p>
        <!--Spring Boot-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/spring-projects/spring-boot" target="_blank">Spring Boot</a> (核心框架)
                <a href="http://spring.io/projects/spring-boot" target="_blank">@</a>
            </label>
        </div>
        <!--Apache Shiro-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/apache/shiro" target="_blank">Apache Shiro</a> (安全框架)
                <a href="http://shiro.apache.org" target="_blank">@</a>
            </label>
        </div>
        <!--MyBatis-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/mybatis/mybatis-3" target="_blank">MyBatis</a> (数据库持久层框架)
                <a href="http://www.mybatis.org/mybatis-3" target="_blank">@</a>
            </label>
        </div>
        <!--Druid-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/alibaba/druid" target="_blank">Druid</a> (数据库连接池)
                @ </label>
        </div>
        <!--Mybatis-PageHelper-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/pagehelper/Mybatis-PageHelper" target="_blank">Mybatis-PageHelper</a>
                (Mybatis分页插件)
                @ </label>
        </div>
        <!--Redis-->
        <div class="clearfix">
            <label class="inline">
                Redis (NoSql)
                <a href="https://redis.io" target="_blank">@</a>
            </label>
        </div>
        <!--Logback-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/qos-ch/logback" target="_blank">Logback</a> (日志框架)
                <a href="https://logback.qos.ch" target="_blank">@</a>
            </label>
        </div>
        <!--Swagger-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/swagger-api" target="_blank">Swagger</a> (文档生成工具)
                <a href="https://swagger.io" target="_blank">@</a>
            </label>
        </div>
        <!--Thymeleaf-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/thymeleaf" target="_blank">Thymeleaf</a> (模板引擎)
                <a href="https://www.thymeleaf.org" target="_blank">@</a>
            </label>
        </div>
        <!--Quartz-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/quartz-scheduler/quartz" target="_blank">Quartz</a> (作业调度框架)
                <a href="http://www.quartz-scheduler.org" target="_blank">@</a>
            </label>
        </div>
        <!--Apache POI-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/apache/poi" target="_blank">Apache POI</a> (Microsoft Office格式文档的操作)
                <a href="http://poi.apache.org/" target="_blank">@</a>
            </label>
        </div>
    </div>
    <!--后端技术选型End-->


    <!--前端技术选型Start-->
    <div class="alert alert-block alert-warning col-xs-6">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <p><h5>前端技术选型</h5></p>
        <!--jQuery-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/jquery/jquery" target="_blank">jQuery</a> (JS代码库)
                <a href="http://jquery.com" target="_blank">@</a>
            </label>
        </div>
        <!--Bootstrap-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a> (前端开发框架)
                <a href="http://www.bootcss.com" target="_blank">@</a>
            </label>
        </div>
        <!--Bootstrap Table-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/wenzhixin/bootstrap-table" target="_blank">Bootstrap Table</a> (表格组件)
                <a href="http://bootstrap-table.wenzhixin.net.cn" target="_blank">@</a>
            </label>
        </div>
        <!--Bootbox-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/makeusabrew/bootbox" target="_blank">Bootbox</a> (提示插件)
                <a href="http://bootboxjs.com" target="_blank">@</a>
            </label>
        </div>
        <!--Toastr-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/CodeSeven/toastr" target="_blank">Toastr</a> (通知插件)
                <a href="http://www.toastrjs.com" target="_blank">@</a>
            </label>
        </div>
        <!--BootstrapValidator-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/nghuuphuoc/bootstrapvalidator" target="_blank">BootstrapValidator</a>
                (表单验证插件)
                <a href="https://formvalidation.io" target="_blank">@</a>
            </label>
        </div>
        <!--zTree_v3-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/zTree/zTree_v3" target="_blank">zTree_v3</a> (jQuery树插件)
                <a href="http://www.treejs.cn/v3/main.php" target="_blank">@</a>
            </label>
        </div>
        <!--layer-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/sentsin/layer" target="_blank">layer</a> (弹出层)
                <a href="http://layer.layui.com" target="_blank">@</a>
            </label>
        </div>
        <!--layDate-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/sentsin/laydate" target="_blank">layDate</a> (日期和时间组件)
                <a href="http://www.layui.com/laydate" target="_blank">@</a>
            </label>
        </div>
    </div>
    <!--前端技术选型End-->
</div>


<div class="clearfix col-xs-12">
    <!--推荐模板Start-->
    <div class="alert alert-block alert-info">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <p><h5>推荐模板</h5></p>
        <!--Ace Admin-->
        <div class="clearfix">
            <label class="inline">
                <a href="http://ace.jeka.by" target="_blank">Ace Admin</a> (当前使用)
                <a href="http://ace.jeka.by" target="_blank">@</a>
            </label>
        </div>
        <!--AdminLTE-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a> (基于 bootstrap)
                <a href="https://adminlte.io" target="_blank">@</a>
            </label>
        </div>
        <!--Element-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/ElemeFE/element" target="_blank">Element</a> (饿了么前端 - 桌面端)
                <a href="http://element.eleme.io" target="_blank">@</a>
            </label>
        </div>
        <!--Mint Ui-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/ElemeFE/mint-ui" target="_blank">Mint Ui</a> (饿了么前端 - 移动端)
                <a href="http://mint-ui.github.io/#!/en" target="_blank">@</a>
            </label>
        </div>
        <!--vue-element-admin-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/PanJiaChen/vue-element-admin" target="_blank">vue-element-admin</a> (基于 vue
                和 element)
                <a href="https://panjiachen.github.io/vue-element-admin/#/dashboard" target="_blank">@</a>
            </label>
        </div>
        <!--VUX-->
        <div class="clearfix">
            <label class="inline">
                <a href="https://github.com/airyland/vux" target="_blank">VUX</a> (一个凑合的 Vue.js 移动端 UI 组件库)
                <a href="https://vux.li" target="_blank">@</a>
            </label>
        </div>
    </div>
    <!--推荐模板End-->
</div>