<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Dashboard - Web Boot</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-icon-picker/jquery.fonticonpicker.min.css"/>
    <link rel="stylesheet" href="css/font-icon-picker/bootstrap-theme/jquery.fonticonpicker.bootstrap.min.css"/>
    <link rel="stylesheet" href="font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="css/app/my.css"/>
    <link rel="stylesheet" href="css/nth-tabs/jquery.scrollbar.min.css"/>
    <link rel="stylesheet" href="css/nth-tabs/nth.tabs.css"/>
    <link rel="stylesheet" href="css/toastr/toastr-fix.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-table/1.12.1/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="css/bootstrap3-editable/1.5.1/bootstrap-editable.css"/>
    <link rel="stylesheet" href="css/jquery-treegrid/0.2.0/jquery.treegrid.min.css"/>
    <link rel="stylesheet" href="css/zTree_v3/zTreeStyle/zTreeStyle.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="css/ace/ace-fonts.min.css"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="css/ace/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ace/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="css/ace/ace-skins.min.css"/>
    <link rel="stylesheet" href="css/ace/ace-rtl.min.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ace/ace-ie.min.css"/>
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="js/ace/ace-extra.min.js"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="js/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
             -webkit-appearance: none;
        }
        input[type="number"]{
             -moz-appearance: textfield;
        }
    </style>
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a id="welcome" href="#" class="navbar-brand" onclick="javascript:void(0);">
                <small>
                    <i class="fa fa-leaf"></i>
                    Web Boot
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-tasks"></i>
                        <span class="badge badge-grey">4</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-check"></i>
                            4 Tasks to complete
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Software Update</span>
                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:65%" class="progress-bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Hardware Upgrade</span>
                                            <span class="pull-right">35%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Unit Testing</span>
                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Bug Fixes</span>
                                            <span class="pull-right">90%</span>
                                        </div>

                                        <div class="progress progress-mini progress-striped active">
                                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See tasks with details
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="purple dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            8 Notifications
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														New Comments
													</span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
														New Orders
													</span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														Followers
													</span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i>
                            5 Messages
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="images/avatars/avatar.png" class="msg-photo"
                                             alt="Alex's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Alex:</span>
														Ciao sociis natoque penatibus et auctor ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="images/avatars/avatar3.png" class="msg-photo"
                                             alt="Susan's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Susan:</span>
														Vestibulum id ligula porta felis euismod ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="images/avatars/avatar4.png" class="msg-photo"
                                             alt="Bob's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Bob:</span>
														Nullam quis risus eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="images/avatars/avatar2.png" class="msg-photo"
                                             alt="Kate's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span>
														Ciao sociis natoque eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="images/avatars/avatar5.png" class="msg-photo"
                                             alt="Fred's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span>
														Vestibulum id penatibus et auctor  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
													</span>
												</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="inbox.html">
                                See all messages
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="images/avatars/user.jpg" alt="Jason's Photo"/>
                        <span class="user-info" th:text="${user.nickname}"></span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="profile.html">
                                <i class="ace-icon fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#" onclick="logout();">
                                <i class="ace-icon fa fa-power-off"></i>
                                <span th:text="#{login.logout}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <!--菜单-->
        <ul class="nav nav-list" id="menu_content">
            <li class="active">
                <a href="#" id="menu_0" th:onclick="'setCurrent(0,1,\''+#{label.welcome}+ '\',\'/index/welcome\');'">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text" th:text="#{label.welcome}"></span>
                </a>
                <b class="arrow"></b>
            </li>
            <!--遍历菜单-->
            <li th:each="menu : ${menus}" class="">
                <a href="#" th:class="${menu.content.type == 0} ? 'dropdown-toggle' : ''"
                   th:id="'menu_'+${menu.content.id}"
                   th:onclick="${menu.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu.content.id}+','+${menu.content.type}+',\''+${menu.content.name}+'\',\''+${menu.content.url}+'\');'">
                    <i th:class="'menu-icon '+${menu.content.icon}"></i>
                    <span class="menu-text">
                        <span th:text="${menu.content.name}"></span>
                        <span th:if="${menu.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu.content.url}+'\'));event.stopPropagation();'">
                            <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                        </span>
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <!--0级-->
                <ul class="submenu" th:if="${menu.content.type} == 0">
                    <li th:each="menu_0 : ${menu.children}" class="">
                        <a href="#" th:class="${menu_0.content.type == 0} ? 'dropdown-toggle' : ''"
                           th:id="'menu_'+${menu_0.content.id}"
                           th:onclick="${menu_0.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu_0.content.id}+','+${menu_0.content.type}+',\''+${menu_0.content.name}+'\',\''+${menu_0.content.url}+'\');'">
                            <i th:class="'menu-icon '+${menu_0.content.icon}"></i>
                            <span class="menu-text">
                                <span th:text="${menu_0.content.name}"></span>
                                <span th:if="${menu_0.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu_0.content.url}+'\'));event.stopPropagation();'">
                                    <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                                </span>
                            </span>
                        </a>
                        <b class="arrow"></b>
                        <!--1级-->
                        <ul class="submenu" th:if="${menu_0.content.type} == 0">
                            <li th:each="menu_1 : ${menu_0.children}" class="">
                                <a href="#" th:class="${menu_1.content.type == 0} ? 'dropdown-toggle' : ''"
                                   th:id="'menu_'+${menu_1.content.id}"
                                   th:onclick="${menu_1.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu_1.content.id}+','+${menu_1.content.type}+',\''+${menu_1.content.name}+'\',\''+${menu_1.content.url}+'\');'">
                                    <i th:class="'menu-icon '+${menu_1.content.icon}"></i>
                                    <span class="menu-text">
                                        <span th:text="${menu_1.content.name}"></span>
                                        <span th:if="${menu_1.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu_1.content.url}+'\'));event.stopPropagation();'">
                                            <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                                        </span>
                                    </span>
                                </a>
                                <b class="arrow"></b>
                                <!--2级-->
                                <ul class="submenu" th:if="${menu_1.content.type} == 0">
                                    <li th:each="menu_2 : ${menu_1.children}" class="">
                                        <a href="#" th:class="${menu_2.content.type == 0} ? 'dropdown-toggle' : ''"
                                           th:id="'menu_'+${menu_2.content.id}"
                                           th:onclick="${menu_2.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu_2.content.id}+','+${menu_2.content.type}+',\''+${menu_2.content.name}+'\',\''+${menu_2.content.url}+'\');'">
                                            <i th:class="'menu-icon '+${menu_2.content.icon}"></i>
                                            <span class="menu-text">
                                                <span th:text="${menu_2.content.name}"></span>
                                                <span th:if="${menu_2.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu_2.content.url}+'\'));event.stopPropagation();'">
                                                    <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <b class="arrow"></b>
                                        <!--3级-->
                                        <ul class="submenu" th:if="${menu_2.content.type} == 0">
                                            <li th:each="menu_3 : ${menu_2.children}" class="">
                                                <a href="#"
                                                   th:class="${menu_3.content.type == 0} ? 'dropdown-toggle' : ''"
                                                   th:id="'menu_'+${menu_3.content.id}"
                                                   th:onclick="${menu_3.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu_3.content.id}+','+${menu_3.content.type}+',\''+${menu_3.content.name}+'\',\''+${menu_3.content.url}+'\')'">
                                                    <i th:class="'menu-icon '+${menu_3.content.icon}"></i>
                                                    <span class="menu-text">
                                                        <span th:text="${menu_3.content.name}"></span>
                                                        <span th:if="${menu_3.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu_3.content.url}+'\'));event.stopPropagation();'">
                                                            <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <b class="arrow"></b>
                                                <!--4级-->
                                                <ul class="submenu" th:if="${menu_3.content.type} == 0">
                                                    <li th:each="menu_4 : ${menu_3.children}" class="">
                                                        <a href="#"
                                                           th:class="${menu_4.content.type == 0} ? 'dropdown-toggle' : ''"
                                                           th:id="'menu_'+${menu_4.content.id}"
                                                           th:onclick="${menu_4.content.type == 0} ? 'javascript:void(0);' : 'javascript:setCurrent('+${menu_4.content.id}+','+${menu_4.content.type}+',\''+${menu_4.content.name}+'\',\''+${menu_4.content.url}+'\')'">
                                                            <i th:class="'menu-icon '+${menu_4.content.icon}"></i>
                                                            <span class="menu-text">
                                                                <span th:text="${menu_4.content.name}"></span>
                                                                <span th:if="${menu_4.content.type} == -1" class="badge badge-transparent" th:onclick="'javascript:window.open(encodeURI(\''+${menu_4.content.url}+'\'));event.stopPropagation();'">
                                                                    <i class="ace-icon  fa fa-external-link dark bigger-120"></i>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <b class="arrow"></b>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content" style="margin-bottom: -50px;">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <!--导航-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- TABS BEGINS -->
                        <div class="nth-tabs" id="editor-tabs"></div>
                        <!-- TABS ENDS -->
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-navbar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-sidebar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-breadcrumbs" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <!--内容-->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="" id="editor-divs"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Web Boot</span>
							Application &copy; 0000-0000
						</span>

                &nbsp; &nbsp;
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->
<!--[if !IE]> -->
<script src="js/jquery/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="js/jquery/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

<script src="js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="js/ExplorerCanvas/excanvas.min.js"></script>
<![endif]-->
<!---->
<script src="js/app/Utils.js"></script>
<script src="js/app/Validator.js"></script>
<script src="js/font-icon-picker/fa-icon-source.js"></script>
<script src="js/font-icon-picker/jquery.fonticonpicker.min.js"></script>
<script src="js/app/colorPicker.js"></script>
<script src="js/app/bootstrapValidator-fix.js"></script>
<script src="js/nth-tabs/jquery.scrollbar.min.js"></script>
<script src="js/nth-tabs/nth.tabs.js"></script>
<script src="js/bootbox/4.4.0/bootbox.min.js"></script>
<script src="js/toastr/toastr.min.js"></script>
<script src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.js"></script>
<script src="js/bootstrap-table/1.12.1/extensions/page-jumpto/bootstrap-table-jumpto-fix.min.js"></script>
<script src="js/bootstrap-table/1.12.1/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="js/bootstrap3-editable/1.5.1/bootstrap-editable.min.js"></script>
<script src="js/jquery-treegrid/0.2.0/jquery.treegrid.min.js"></script>
<script src="js/bootstrap-table/1.12.1/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script src="js/zTree_v3/jquery.ztree.all.min.js"></script>
<!--<script src="js/lay/layer-v3.1.1/layer.js"></script>-->
<!--<script src="js/lay/layDate-v5.0.9/laydate.js"></script>-->

<!-- ace scripts -->
<script src="js/ace/ace-elements.min.js"></script>
<script src="js/ace/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    var nthTabs;

    jQuery(function ($) {
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            positionClass: "toast-center-center",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "2000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        nthTabs = $("#editor-tabs").nthTabs("#editor-divs", function (id) {
            // 菜单选中
            $('#menu_content').find('li').each(function () {
                if ($(this).find('#menu_' + id).length > 0) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });
        });
        $('#menu_0').trigger("click");
    });

    function setCurrent(id, type, name, url) {
        nthTabs.addTab({id: id, type: type, name: name, url: url, allowClose: id != 0}).setActTab('#' + id);
    }

    function logout() {
        bootbox.confirm("确认退出？", function (result) {
            if (result) {
                parent.location.href = '/logout';
            }
        });
    }

    $(window).resize(function () {
        $('#welcome').trigger("click");
        // 粗略计算
        var a = $('.page-content').offset().top;
        var b = ($('.page-content').outerHeight() - $('.page-content').height()) * 2;
        var c = $('.footer-content').outerHeight();
        var d = ($('.footer-content').outerHeight() - $('.footer-content').height()) * 2;
        var h = $(window).height() - (a + b + c + d) + 50;
        $('#editor-divs').find('iframe').height(h);
    });
</script>
</body>
</html>
