<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h5 class="blue bigger" th:text="${username}"></h5>
</div>

<div class="modal-body">
    <form id="system_user_password_form" class="form-horizontal">
        <input type="hidden" name="id" th:value="${id}"/>
        <div class="form-group hidden">
            <label class="col-xs-12 col-sm-2 control-label no-padding-right" th:text="#{system.user.username}"></label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="username" th:value="${username}" class="form-control" readonly="readonly" disabled="disabled"/>
                </span>
            </div>
            <div class="col-xs-12 col-sm-5 inline"></div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label no-padding-right" th:text="#{label.new.password}"></label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="password" class="form-control"/>
                </span>
            </div>
            <div class="col-xs-12 col-sm-5 inline"></div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label no-padding-right" th:text="#{label.confirm.password}"></label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="confirmPassword" class="form-control"/>
                </span>
            </div>
            <div class="col-xs-12 col-sm-5 inline"></div>
        </div>
    </form>

    <div style="padding: 5px;text-align: right; border-top: 1px solid #e5e5e5;">
        <button class="btn btn-sm" data-dismiss="modal">
            <i class="ace-icon fa fa-times"></i>
            <span th:text="#{confirm.btn.cancel}"></span>
        </button>
        <button class="btn btn-sm btn-primary" onclick="systemUserPassword();">
            <i class="ace-icon fa fa-check"></i>
            <span th:text="#{confirm.btn.save}"></span>
        </button>
    </div>
</div>

<script src="js/app/system/user/password.js"></script>